<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhdigital.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <!--GCM Integration-->
    <permission
        android:name="com.dhdigital.lms.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.dhdigital.lms.permission.C2D_MESSAGE" />

    <application
        android:name=".LeaveManagementApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DB_NAME"
            android:value="@string/db_name" />
        <meta-data
            android:name="DB_VERSION"
            android:value="1" />

        <service android:name=".gcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".gcm.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.LoginActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.LandingPageActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >

            </activity>
        <activity android:name=".activities.NewLeaveRequestActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >

            </activity>
        <activity android:name=".activities.MyLeavesActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.LeaveDetailsActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SplashScreenActivity"
            android:clearTaskOnLaunch="true" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
            </activity>
        <activity android:name=".activities.MyLeavesTabActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">

            </activity>
        <activity android:name=".activities.ApproverTasksActivity" />
        <activity
            android:name=".fragments.MyLeavesFilterDialog"
            android:theme="@style/floating_screen_dialog"></activity>
        <activity android:name=".activities.HolidayListActivity" />
        <activity android:name=".activities.MyLeaveBalanceActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.EmployeeLookUpPage" />
    </application>

</manifest>
