<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhdigital.lms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <!--GCM Integration-->
    <permission
        android:name="com.dhdigital.lms.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.dhdigital.lms.permission.C2D_MESSAGE" />

    <application
        android:name=".LeaveManagementApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DB_NAME"
            android:value="@string/db_name" />
        <meta-data
            android:name="DB_VERSION"
            android:value="1" />
        <activity android:name=".activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activities.LandingPageActivity" />
        <activity android:name=".activities.NewLeaveRequestActivity" >

            </activity>
        <activity android:name=".activities.MyLeavesActivity" />
        <activity android:name=".activities.LeaveDetailsActivity" />
    </application>

</manifest>
